<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eight.group.mapper.SetmealMapper">
    <insert id="add" parameterType="setmeal" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into t_setmeal(id,name,code,helpCode,sex,age,price,remark,attention,img)
            values (null,#{name},#{code},#{helpCode},#{sex},#{age},#{price},#{remark},#{attention},#{img})
    </insert>

    <insert id="setSetmealAndCheckGroup" parameterType="map">
        insert into t_setmeal_checkgroup (setmeal_id, checkgroup_id) values
        <foreach collection="checkgroupIds" separator="," item="checkgroupId">
            (#{setmealId}, #{checkgroupId})
        </foreach>
    </insert>

    <select id="findPage" parameterType="String" resultType="setmeal">
        select * from t_setmeal
        <if test="value !=null and value.length>0">
            where code like concat('%',#{value},'%') or name like concat('%',#{value},'%')
            or helpCode like concat('%',#{value},'%')
        </if>
    </select>

    <resultMap id="setmealMap" type="setmeal">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="helpCode" property="helpCode"/>
        <result column="sex" property="sex"/>
        <result column="age" property="age"/>
        <result column="price" property="price"/>
        <result column="remark" property="remark"/>
        <result column="attention" property="attention"/>
        <result column="img" property="img"/>
        <collection property="checkGroups" ofType="checkGroup">
            <id column="checkgroup_id" property="id"/>
        </collection>
    </resultMap>
    <select id="findById" parameterType="int" resultMap="setmealMap">
         select * from t_setmeal s left join t_setmeal_checkgroup sc
            on s.id = sc.setmeal_id where s.id = #{id}
    </select>

    <delete id="deleteSetmealAndCheckGroup" parameterType="int">
        delete from t_setmeal_checkgroup where setmeal_id = #{id}
    </delete>

    <update id="edit" parameterType="setmeal">
        update t_setmeal
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="code != null">
                code = #{code},
            </if>
            <if test="helpCode != null">
                helpCode = #{helpCode},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
            <if test="attention != null">
                attention = #{attention},
            </if>
            <if test="img != null">
                img = #{img},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="int">
        delete from t_setmeal where id = #{id}
    </delete>

    <select id="findAll" resultType="setmeal">
        select * from t_setmeal
    </select>

    <!--套餐基本信息，对应检查组信息， 对应检查项信息-->
    <resultMap id="setmealDeatilMap" type="setmeal">
        <id column="id" property="id"/>
        <result column="s_code" property="code"/>
        <result column="s_name" property="name"/>
        <result column="s_helpCode" property="helpCode"/>
        <result column="s_sex" property="sex"/>
        <result column="s_age" property="age"/>
        <result column="s_price" property="price"/>
        <result column="s_remark" property="remark"/>
        <result column="s_attention" property="attention"/>
        <result column="s_img" property="img"/>
        <collection property="checkGroups" ofType="checkGroup">
            <id column="g_id" property="id"/>
            <result column="g_code" property="code"/>
            <result column="g_name" property="name"/>
            <result column="g_helpCode" property="helpCode"/>
            <result column="g_sex" property="sex"/>
            <result column="g_remark" property="remark"/>
            <result column="g_attention" property="attention"/>
            <collection property="checkItems" ofType="checkItem">
                <id column="i_id" property="id"/>
                <result column="i_code" property="code"/>
                <result column="i_name" property="name"/>
                <result column="i_sex" property="sex"/>
                <result column="i_age" property="age"/>
                <result column="i_price" property="price"/>
                <result column="i_type" property="type"/>
                <result column="i_attention" property="attention"/>
                <result column="i_remark" property="remark"/>
            </collection>
        </collection>
    </resultMap>


    <select id="findByIdDetail" resultMap="setmealDeatilMap" parameterType="int">
        select s.id s_id, s.name s_name, s.code s_code, s.helpCode s_helpCode, s.sex s_sex, s.age s_age, s.price s_price, s.remark s_remark, s.attention s_attention, s.img s_img, s.*,
               g.id g_id, g.code g_code, g.name g_name, g.helpCode g_helpCode, g.sex g_sex, g.remark g_remark, g.attention g_attention, g.*,
               i.id i_id, i.code i_code, i.name i_name, i.sex i_sex, i.age i_age, i.price i_price, i.type i_type, i.attention i_attention, i.remark i_remak, i.*
        from t_setmeal s
            left join t_setmeal_checkgroup sc on s.id = sc.setmeal_id
            left join t_checkgroup g on sc.checkgroup_id = g.id
            left join t_checkgroup_checkitem gi on g.id = gi.checkgroup_id
            left join t_checkitem i on gi.checkitem_id = i.id
        where s.id = 13
    </select>

</mapper>